In [1]:
import pandas as pd

In [9]:
file_path = r"C:\Users\hp\.ipynb_checkpoints\Groceries_Sales_data.xlsx"
df = pd.read_excel(file_path)

In [11]:
print("Data Preview:")
print(df.head())

Data Preview:
        Date    Sales
0 2018-02-01  21199.0
1 2018-02-02  10634.0
2 2018-02-03   7966.0
3 2018-02-04   1353.0
4 2018-02-05   9497.0

In [13]:
print("\nMissing Values in Each Column:")
print(df.isnull().sum())

Missing Values in Each Column:
Date     0
Sales    0
dtype: int64

In [17]:
df['Sales'].mean()

20458.37248677249

In [19]:
df['Sales'].median()

15400.849999999999

In [21]:
df['Sales'].max()

83179.2

In [23]:
df['Sales'].min()

58.9

In [25]:
if 'Date' in df.columns:
    df['Date'] = pd.to_datetime(df['Date'])

In [27]:
print("\nBasic Statistics:")
print(df.describe())

Basic Statistics:
                      Date         Sales
count                  756    756.000000
mean   2019-02-13 12:00:00  20458.372487
min    2018-02-01 00:00:00     58.900000
25%    2018-08-08 18:00:00   8132.600000
50%    2019-02-13 12:00:00  15400.850000
75%    2019-08-21 06:00:00  28089.575000
max    2020-02-26 00:00:00  83179.200000
std                    NaN  16751.853892

In [29]:
if 'Revenue' in df.columns:
    total_revenue = df['Revenue'].sum()
    print(f"\nTotal Revenue: ${total_revenue:,.2f}")